[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
flask = "*"
requests = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.1"

[scripts]
start = "pipenv run python -m src.api"
dev = "pipenv run python watchdog_runner.py"
